@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@1,300&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Red Hat Mono', monospace; 
    color: #777;
}
html body{
    margin: 0;
    padding: 0;
}
.nav ul{
    margin: 0;
}
.nav li{
    display: inline;
}
.nav a{
    display: inline-block;
    padding: 0.5em;
    color: rgb(255, 247, 247,0.8);
    text-decoration: none;
}
.nav a:hover{
    /* background-color: aliceblue; */
    color: white;
}
.main-nav{
    font-size: 1.1em;
    text-align: center;
}

.main-header{
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-image: url("../image/header-image1.jpeg");
    background-size: cover; 
    padding-bottom: 10px;
}
